<div class="container">
    <h1 class="title--album">Some good times</h1>
    <div class="gallery">
        <img src="images/bath_night.jpg" alt="Photo 1">
        <img src="images/flow.JPG" alt="Photo 2">
        <img src="images/friends.JPG" alt="Photo 3">
        <img src="images/golden_hour.jpg" alt="Photo 4">
        <img src="images/NCLcoast.jpg" alt="Photo 5">
        <img src="images/Scotland.jpg" alt="Photo 6">
    </div>
    <div id="modal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <div class="modal-content">
            <img id="modal-image">
        </div>
    </div>
</div>