<div class="testimonial">
    <h1 class="title__heading">My world consists of technology, music, and travel </h1>
  <div class="card grid grid--1x2">
    <div class="img--container">
      <img
        class="guitarPlaying"
        src="/images/guitar-playing-v2.jpg"
        alt=""
      />
    </div>
    <div class="self-intro">
      <h2 class="intro__aboutme">About me</h2>
      <p class="intro__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis dicta iste dignissimos quasi impedit fugiat voluptate magnam molestias inventore odit ad, at maxime tempore accusamus quo minus, ipsa labore quas!</p>
    </div>
  </div>
</div>